@import '../../common/reset.less';
@import '../../common/func.less';
@import '../../common/ani.less';
@import '../../common/common.less';
@import 'c.less';

.swiper-2{

	.content-txt{
		text-align: center;
		top: 883px;
		left: 385px;
	}

	.tail{
		.bg-contain();
		.bgImg('tail.png', 2);
		.ab(91px, 176px, 551px, 647px);
	}

	.txt-wrap{
		.bg-contain();
		.bgImg('txt-wrap.png', 1);
		.ab(392px, 221px);
		top: 796px;
		left: auto;
		right: 0;

	}

	

}